body {
  background-color: #ecf0f1;
  font-family: Arial, Helvetica, sans-serif;
}

.user-listagem {
  margin: 210px;
  padding: 25px;
  border-radius: 0.3em;
  display: flex;
  background-color: #FFF;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.user-bio {
  background-color: #FFF;
  padding: 10px;
  border-radius: 0.3em;
  text-align: center;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.user-avatar {
  border-radius: 0.3em;
  margin: 20px;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.buttons {
  justify-content: space-between;
  display: flex;
}

.logout {
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  border: none;
  border-radius: 0.3em;
  color: #FFF;
  font-size: 16px;
  background-color: #e74c3c;
  cursor: pointer;
}

.search {
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
  color: #FFF;
  font-size: 16px;
  background-color: #3498db;
}

.search:hover {
  opacity: 0.8;
  color: white;
}

.logout:hover {
  opacity: 0.8;
  color: white;
}

.user-links {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 400px;
}

.repositories-div-in {
  border-radius: 0.3em;
  background: #FFF;
  border: 1px solid rgba(100,100,100, 0.3);
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  width: 250px;
  height: 300px;
  margin: 10px;
  padding: 10px;
  vertical-align: middle;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  overflow: auto;
}

.repositories-div-label {
  position: relative;
  margin-left: 10px;
}

.followers {
  border-radius: 0.3em;
  margin: 10px;
  padding: 10px;
  vertical-align: middle;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 300px;
  cursor: pointer;
  overflow: auto; 
}

.following {
  border: 2px solid #111;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  vertical-align: middle;
  width: 250px;
  height: 300px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  overflow: auto; 
}

.card-article {
  border: 1px solid rgba(100, 100, 100, 0.3);
  padding: 10px;
  margin: 10px;
  border-radius: 0.3em;
  text-align: center;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.followers-img {
  width: 41px;
  height: 40px;
  display: flex;
  margin-bottom: 15px;
  margin-right: 20px;
}

.links-artigo{
  text-decoration: none;
  color: #111;
  text-align: center;
}

.links-artigo:hover{
  opacity: 0.4;
}

.user-info-container {
  display: inline-block;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width: 100%;
}